<a href="https://colab.research.google.com/github/MeenakshiGanesan/frameworks-lab/blob/main/fdva3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Eve', None],
    'Age': [25, np.nan, 30, 25, 45, 35],
    'Score': [85.0, 90.5, np.nan, 85.0, 70.0, 95.0],
    'Gender': ['F', 'M', 'M', 'F', 'F', 'M']
}

df = pd.DataFrame(data)
print("Original Dataset:\n", df)

Original Dataset:
       Name   Age  Score Gender
0    Alice  25.0   85.0      F
1      Bob   NaN   90.5      M
2  Charlie  30.0    NaN      M
3    Alice  25.0   85.0      F
4      Eve  45.0   70.0      F
5     None  35.0   95.0      M

In [ ]:
print("\nMissing Values:\n", df.isnull().sum())

df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Score'] = df['Score'].fillna(df['Score'].mean())

df['Name'] = df['Name'].fillna(df['Name'].mode()[0])

print("\nAfter Handling Missing Values:\n", df)

Missing Values:
 Name      1
Age       1
Score     1
Gender    0
dtype: int64

After Handling Missing Values:
       Name   Age  Score Gender
0    Alice  25.0   85.0      F
1      Bob  32.0   90.5      M
2  Charlie  30.0   85.1      M
3    Alice  25.0   85.0      F
4      Eve  45.0   70.0      F
5    Alice  35.0   95.0      M

In [ ]:
print("\nBefore Removing Duplicates:", df.shape)

df = df.drop_duplicates()

print("After Removing Duplicates:", df.shape)

Before Removing Duplicates: (6, 4)
After Removing Duplicates: (5, 4)

In [ ]:
df['Gender'] = df['Gender'].astype('category')

print("\nData Types After Conversion:\n", df.dtypes)

Data Types After Conversion:
 Name        object
Age        float64
Score      float64
Gender    category
dtype: object

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

minmax_df = df.copy()
minmax = MinMaxScaler()
minmax_df[['Age', 'Score']] = minmax.fit_transform(minmax_df[['Age', 'Score']])
print("\nMin-Max Scaled Data:\n", minmax_df)

standard_df = df.copy()
standard = StandardScaler()
standard_df[['Age', 'Score']] = standard.fit_transform(standard_df[['Age', 'Score']])
print("\nStandard Scaled Data:\n", standard_df)

Min-Max Scaled Data:
       Name   Age  Score Gender
0    Alice  0.00  0.600      F
1      Bob  0.35  0.820      M
2  Charlie  0.25  0.604      M
4      Eve  1.00  0.000      F
5    Alice  0.50  1.000      M

Standard Scaled Data:
       Name       Age     Score Gender
0    Alice -1.262908 -0.014238      F
1      Bob -0.210485  0.638320      M
2  Charlie -0.511177 -0.002373      M
4      Eve  1.744016 -1.793939      F
5    Alice  0.240554  1.172230      M